<%- include('./main/header')%>



    <div class="d-flex align-items-center justify-content-center mt-2">
        <a href="/"><button class="btn btn-back">နောက်သို့</button></a>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2" style="height: 52vh;">
        <input type="hidden" value="<%=questionNo%>" id="questionNo" class="questionNo">
        <input type="hidden" value="<%=answerNo%>" id="answerNo" class="answerNo">
        <p id="answer"></p>
    </div>


<script src="/answer.js"></script>
<%- include('./main/footer')%>